*{
    margin: 0;
    padding: 0;
}

main{
    margin: 20px;
    text-align: center;
}

section{
    border: 1px solid #ccc;
    text-align: left;
    padding: 20px;
    background-color: #f2f2f2;
    max-width: 600px;
    margin: auto;
}

.chocolate{
    margin-bottom: 20px;
}

img{
    width: 600px;
    height: 500px;
}

h2{
    margin-bottom: 15px;
}
h3{
    margin: 10px 0;
    /* padding: 0; */
    text-align: left;

}

ol, ul{
    margin: 0 20px;

}

footer{
    background-color: #183D3D;
    padding: 10px;
    text-align: center;
    color: #fff;
    /* position: fixed; */
}

span{
    color: red;
}